{
    "boot-source": {
        "kernel_image_path": {{json .KernelImagePath}},
        "boot_args": {{json .BootArgs}},
        "initrd_path": null
    },
    "drives": [
        {
            "drive_id": "rootfs",
            "path_on_host": {{json .RootFsPath}},
            "is_root_device": true,
            "is_read_only": false,
            "partuuid": null,
            "cache_type": "Unsafe",
            "io_engine": "Sync",
            "rate_limiter": null
        }{{if .DataPath}},
        {
            "drive_id": "data",
            "path_on_host": {{json .DataPath}},
            "is_root_device": false,
            "is_read_only": false,
            "partuuid": null,
            "cache_type": "Writeback",
            "io_engine": "Sync",
            "rate_limiter": null
        }{{end}}
    ],
    "network-interfaces": [{{if .TapDevice}}
        {
            "iface_id": "eth0",
            "host_dev_name": {{json .TapDevice}},
            "guest_mac": {{json .GuestMAC}},
            "rx_rate_limiter": null,
            "tx_rate_limiter": null
        }
    {{end}}],
    "machine-config": {
        "vcpu_count": {{.VCPUs}},
        "mem_size_mib": {{.MemoryMiB}},
        "smt": false,
        "track_dirty_pages": false
    },
    "cpu-config": null,
    "balloon": null,
    "vsock": {
        "guest_cid": {{.GuestCID}},
        "uds_path": {{json .VsockPath}}
    },
    "logger": null,
    "metrics": null,
    "mmds-config": null,
    "entropy": null
}
